@import "tailwindcss";
@theme {
    --font-title: "Playfair Display", 'serif';
    --font-body: "Albert Sans", 'sans-serif';
    
    --color-red: #6F1D1B;
    --color-dark: #2D1C11;
    --color-light: #F4DDBC;
    --color-light-dark: #B79A71;
    --color-green: #D2D672;
    --color-green-dark: #888D13;

  }