@import "tailwindcss";
@theme {
  --font-title: "Playfair Display", "serif";
  --font-body: "Albert Sans", "sans-serif";

  --color-red: #6f1d1b;
  --color-dark: #3a2416;
  --color-light: #f4ddbc;
  --color-light-dark: #b79a71;
  --color-green: #d2d672;
  --color-green-dark: #7e8315;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
:root {
  font-family: var(--font-body);
}
